.pagesize {
    height: 29.7cm;
    width: 21cm;
    border: solid rgb(27, 6, 143) 5px;
    align-content: center;
}

.secondborder {
    height: 29.3cm; /* 0.4cm कम */
    width: 20.6cm;  /* 0.4cm कम */
    border: solid red 4px;
    margin: auto; /* ताकि यह center में रहे */
    align-content: center;
    
}
.thirdborder{
    height: 28.9cm; /* 0.4cm कम */
    width: 20.2cm;  /* 0.4cm कम */
    border: solid rgb(231, 231, 8) 3px;
    margin: auto; /* ताकि यह center में रहे */
    align-content: center;
}
.fourthpage{
    height: 28.4cm; /* 0.4cm कम */
    width: 19.8cm;  /* 0.4cm कम */
    border: solid rgb(7, 6, 143) 2px;
    margin: auto; /* ताकि यह center में रहे */    
    

}
.MAINCONTENT{
    margin: 10px;
}
.LINE{
    background-color: black;
    width: 100%;
    height: 0.1cm;
    margin-top: 15px;
}
.gcsmimage{
    height: 1cm;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    margin: 0 auto;
}
.iso {
    display: flex;       
    align-items: center;
    
    
}

.isotitle{
    background-color: rgb(55, 96, 146);
    color: white;
    font-weight: bold;
    border-radius: 5px; 
    font-size: 11pt;
    height: 0.8cm;  
    width: 8.29cm;     
    align-content: center;    
    text-align: center;
    margin-top: 5px;

}
.registration {
    text-align: right;
    margin-left: 200px;
}
.iso1{
    justify-content: space-between;
}
.certificatenub{
    margin-left: 10px;
    font-size: 12pt;
}
.boxforcerti{
    height: 0.74cm;
    width: 5.29cm;
    border: solid black 2px;
    font-size: 10pt;   
    align-content: center;
    text-align: center;
}
.line2{
    display: flex;
    align-items: center;
    
}
.line1{
    background-color: black;
    height: 0.050cm;
    width: 5cm;
}
.statementofmarks{
    font-size: 16pt;
    color: red;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    
    text-align: center;
    
}
.logolaganahai{
    display: flex;
    justify-content: space-between;
    
}

.namecontext{
    justify-content: left;
    justify-items: left;
    
}
.logopic{
    
    height: 100%;
    
}
.imagelogo{
    height: 120px
    
   
}
.headroll{
    margin-top: 15px;
    
}
.tablediv{
    width: 100%;
    justify-items: center;
}
.tablecontent{ 
    justify-items: center;
    font-weight: bold;
    
    width: 95%;
}
.uppar {    
    align-content: flex-start;
    text-align: center;

}
.uppar1{
    align-content: flex-start;
}
.GRADE{
    margin-left: 15px;
    justify-content: space-between;
    width: 95%;
    margin-top: 30px;
}
.EXCELLENCE{
    justify-content: space-between;
    margin-left: 300px;
    
}
.TEACHERNAME{
    display: flex;    
    justify-content: space-between; 
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    
    
    
    
}
.downline{
    width: 95%;
    background-color: black ;
    height: 8px;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
}
.gradeexpln{
    text-decoration: underline;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
.rgnoffice{
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
}

/* font face liey hai yaha  */
@font-face {
    font-family: 'ScriptMTBold';
    src: url('script_mt_bold-webfont.woff2') format('woff2'),
        url('script_mt_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
.rollno {
    font-family: 'ScriptMTBold', cursive, sans-serif;
}
.roll{
   font-family: 'ScriptMTBold', cursive, sans-serif; 
}
/* iske nich table me jo line aa rhe hai wahi hai  */
table {
    border-collapse: collapse;
}
table, td {
    border: 1px solid black;
}